<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>Ecom Proxy Server Web Application</display-name>
  <servlet>
    <servlet-name>CatalogApiServlet</servlet-name>
    <servlet-class>com.vodafone.er.ecom.proxy.CatalogApiServlet</servlet-class>
  </servlet>

    <servlet-mapping>
        <servlet-name>CatalogApiServlet</servlet-name>
        <url-pattern>/CatalogApi</url-pattern>
    </servlet-mapping>
  <!--<servlet>-->
    <!--<servlet-name>PurchaseApiServlet</servlet-name>-->
    <!--<servlet-class>com.vodafone.er.ecom.proxy.PurchaseApiServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>CatalogApiServlet</servlet-name>-->
    <!--<servlet-class>com.vodafone.er.ecom.proxy.ChargingApiServlet</servlet-class>-->
  <!--</servlet>-->
</web-app>